body{
background-image: url("19449741.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
margin:10px;
background-color: #E4F9F5;
font-family: 'Montserrat', sans-serif;
text-align: center;}

p{
font-size:30px;}

iframe{
box-shadow: 8px 10px #16161680;
border: 1px solid #000000;
border-radius: 5px;
background-color: #f5eeee40;
color: black;
padding: 5px;
cursor: pointer;
margin-bottom: 5rem;
width: 50rem;
margin-top: 20px;}

ul{
line-height = 1.5;
margin-left: 15rem;
padding: 40px;
text-align: left;}

.log{
overflow: hidden;
position: fixed;
z-index:1;
top: 15px;
left:0px;
padding:0;
}

.logo{
position: fixed;
margin-left: 0px;
height: 40px;
width: auto;
filter: grayscale(100%);
}

.logo:hover{
transition: 0.2s;
filter: grayscale(0%);
}

.link{
position: absolute;
left: -5px;}
